{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
     <div class="container">
          <a class="navbar-brand" href="{% url 'projects:home' %}">Fixed navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if user.profile.image %}
                    <img src="{{user.profile.image.url}}" width="20" height="20" class="rounded-circle"> {{user.username}}
                    {% else %}
                    <img src="{% static 'projects/image/001.jpg' %}" width="20" height="20" class="rounded-circle"> {{user.username}}
                    {% endif %}

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'users:profile' user.id %}">Profile</a>
                  <a class="dropdown-item" href="{% url 'projects:new' %} ">Make Project</a>
                  <a class="dropdown-item" href="{%url 'users:logout' %}">Logout</a>
                </div>
              </li>
            {% else %}
               <li class="nav-item">
                 <a class="nav-link" href="{% url 'users:login2' %}">Login</a>
               </li>
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'users:register' %}">Reigster</a>
             </li>

            {% endif %}
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="Categories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="Categories">
                {% for cate in categories%}
                    <a class="dropdown-item" href="{% url 'projects:show' cate.id %}">{{cate.name}}</a>
                {% endfor %}
            </div>
          </li>
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="#">Link</a>-->
          <!--</li>-->
        </ul>
        <form class="form-inline mt-2 mt-md-0" action="{% url 'projects:search' %}" method="get">
            <select class="form-control mr-sm-2" name="mode">
                <option value="1">Tage</option>
                <option value="2">Titl</option>
            </select>
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" required name="search">
          <button class="btn btn-outline-success my-2 my-sm-0 mt-md-2 mt-lg-0" type="submit">Search</button>
        </form>
      </div>
     </div>
    </nav>